@{
    ViewBag.Title = "Edit User Profile";
}

<h1>Edit User Profile</h1>

@if (ViewBag.user != null)
{
    <p>
        Edit profile data for:
        <b>@ViewBag.user.UserName</b>
    </p>
    <p>
        Money you have:
        <b>@ViewBag.user.Profile.Credit</b>$
    </p>
    
    <form action="/Home/DoEditUserProfile/@ViewBag.user.UserName">
        First name: <input name="FirstName" value="@ViewBag.user.Profile.FirstName" /><br />
        Last name: <input name="LastName" value="@ViewBag.user.Profile.LastName" /><br />
        <input name="Credit" type="hidden" value="@ViewBag.user.Profile.Credit" />
        <input type="submit" value="Send" />
    </form>
}
else
{
    <p class="lead">Invalid username.</p>
}
